.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.inputHeader {
  padding: 1em;
  color: white;
}

.searchButton {
  margin: 0.5em;
  padding: 0.25em;
  border-radius: 5%;
  color: white;
  border: solid green;
}
